/* App */

body {
  padding:0;
  margin:0;
  background-color:#DDD;
  font-family: 'Open Sans', sans-serif;
}

#menu {
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:50px;
  padding:15px;
  background-color:#6200ea;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color:#FFF;
}

#menu h1 {
  margin:0;
  padding:10px;
  height:30px;
  line-height:30px;
  font-size:30px;
  font-weight:lighter;
}

#musicApp {
  margin-top:110px;
}



/* ListView */

.ListView {
  width: 500px;
  margin:20px auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background-color:#DDD;
}




/* ListItem */

.ListItem {
  background-color:#FFF;
  padding:10px;
  transition: all ease 0.3s;
}

.ListItem:hover {
  transform: translate(20px, 0);
}

.ListItem:nth-child(2) {
  background-color:#EEE;
}

.ListItem img {
  width:100px;
  height:100px;
  display:inline-block;
  vertical-align:top;
}

.ListItem .info {
  margin-left:10px;
  color:#333;
  display:inline-block;
  vertical-align:top;
}

.ListItem .info h2 {
  margin: 0 0 5px 0;
  font-size:17px;
  padding: 4px 0;
}

.ListItem .info p {
  margin: 2px 0;
  padding: 4px 0;
  font-size:14px;
}

.votes {
  display:inline-block;
  vertical-align:top;
  float:right;
}

.upvote {
  width: 0;
  height: 0;
  display:block;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #AAA transparent;
  transition: all ease 0.3s;
  margin-bottom:15px;
}

.upvote.selected {
  border-color: transparent transparent #ea9000 transparent;
  -webkit-animation-name: pulse;
          animation-name: pulse;
}

.upvote:hover {
  border-color: transparent transparent #333 transparent;
}

.downvote {
  width: 0;
  height: 0;
  display:block;
  border-style: solid;
  border-width: 15px 15px 0 15px;
  border-color: #AAA transparent transparent transparent;
  transition: all ease 0.3s;
}

.downvote.selected {
  border-color: #080069 transparent transparent transparent;
  -webkit-animation-name: pulse;
          animation-name: pulse;
}

.downvote:hover {
  border-color: #333 transparent transparent transparent;
}


/* Animations */
.animated {
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
            transform: scale3d(1.5, 1.5, 1.5);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
            transform: scale3d(1.5, 1.5, 1.5);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}