/* App */

html {
  overflow-y:auto;
}

body {
  padding:0;
  margin:0;
  background-color:#ebebeb;
  font-family: 'Open Sans', sans-serif;
  overflow:hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 18px;
}
::-webkit-scrollbar-track {
  background-color:rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
  height: 6px;
  border: 0;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.15);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

#menu {
  position:fixed;
  z-index: 9001;
  top:0;
  left:0;
  right:0;
  height:50px;
  padding:15px;
  background-color:#dd191d;
  border-bottom:5px solid rgba(0,0,0,0.2);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  color:#FFF;
  -webkit-transform: translateZ(0);
}

#menu h1 {
  margin:0;
  padding:10px;
  height:30px;
  line-height:30px;
  font-size:30px;
  font-weight:lighter;
  display:inline-block;
  vertical-align:middle;
}

#menu img {
  max-height:100%;
  width:auto;
  vertical-align:middle;
}

#musicApp {
  padding-top:30px;
  text-align:center;
  position:absolute;
  overflow-y:scroll;
  overflow-x:hidden;
  top:80px;
  left:0;
  right:0;
  bottom:0;
  font-size: 0;
  background-color:#ebebeb;
  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1.5s; /* Firefox < 16 */
      -ms-animation: fadein 1.5s; /* Internet Explorer */
       -o-animation: fadein 1.5s; /* Opera < 12.1 */
          animation: fadein 1.5s;
}

@media all and (max-width: 700px) {
  #musicApp {
    padding-bottom:30px;
    bottom:90px;
  }
  #menu h1 {
    font-size: 25px;
  }
}

@media all and (max-width: 600px) {
  #musicApp {
    padding-top:0;
    padding-bottom:0px;
  }
}


/* DirectoryPicker */
.DirectoryPicker {
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
  font-size:16px;
  background-color:#FFF;
  padding:20px;
  width:400px;
  margin: 20px auto;
}

.DirectoryPicker h2 {
  margin:0;
}

.DirectoryPicker p {
  text-align:left;
  padding:20px;
}

.DirectoryPicker a.button {
  cursor:pointer;
  padding:20px;
  margin:20px;
  color:#FFF;
  background-color: #dd191d;
  transition: all 0.3s ease;
  display:inline-block;
  border-radius:10px;
}

.DirectoryPicker a.button:hover {
  background-color: #ffab00;
}



/* MenuButton */
.MenuButton {
  margin:0;
  height:50px;
  width:50px;
  text-align:center;
  line-height:30px;
  font-size:20px;
  float:right;
}

.MenuButton .button {
  display:block;
  height:30px;
  width:30px;
  padding:10px;
  border-radius:50%;
  transition: all ease 0.3s;
  cursor:pointer;
}

.MenuButton.toggled {
  transform: rotate(180deg);
}

.MenuButton.toggled .button {
  transform: rotate(-180deg);
}

.MenuButton .button:hover {
  background-color:rgba(255, 255, 255, 0.2);
}

@media all and (min-width: 1088px) {
  .MenuButton {
    display:none;
  }
}


/* ListView */

.ListView {
  display:inline-block;
  vertical-align:top;
  width: 500px;
  margin:20px;
  text-align:left;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
  background-color:#DDD;
}

.ListView h2 {
  background-color:#ffab00;
  color:#FFF;
  font-weight:lighter;
  margin:0;
  padding:10px;
  font-size: 24px;
}

@media all and (min-width: 1088px) {
  .ListView {
    overflow:visible !important;
    height:auto !important;
    margin: 20px !important;
  }
}

@media all and (max-width: 600px) {
  .ListView {
    width:auto;
    margin:0;
    display:block;
  }
}


/* ListItem */

.ListItem {
  background-color:#fff;
  padding:10px;
  transition: all ease 0.3s;
  z-index: 1;
  position:relative;
  min-height:80px;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

.ListItem.added {
  -webkit-animation-name: tint-pulse;
          animation-name: tint-pulse;
}

.ListItem.removed {
  -webkit-animation-name: tint-pulse-r;
          animation-name: tint-pulse-r;
}

.ListItem.added .icon {
  transform: rotate(180deg);
}

.ListItem:hover {
  transform: translate(20px, 0);
  -webkit-transform: translate(20px, 0);
}

.ListItem:nth-child(even) {
  background-color:#EEE;
}

.ListItem img {
  width:100px;
  height:100px;
  display:inline-block;
  vertical-align:top;
}

.ListItem .info {
  margin-left:10px;
  color:#333;
  display:inline-block;
  vertical-align:top;
}

.ListItem .info h2 {
  margin: 0 0 5px 0;
  font-size:17px;
  padding: 4px 0;
  background-color: transparent;
  font-weight:bold;
  color:#000;
}

.ListItem.Submenu h2 {
  line-height:80px;
  padding: 0;
  margin:0;
}

.ListItem .info p {
  margin: 2px 0;
  padding: 4px 0;
  font-size:14px;
}

.ListItem .icon, .ListItem .open {
  display:inline-block;
  vertical-align:middle;
  float:right;
  width: 30px;
  text-align:center;
  padding:20px;
  font-size:20px;
  color:#AAA;
  transition: all ease 0.3s;
  text-decoration:none;
  cursor:default;
}

.ListItem .icon:hover, .ListItem .open:hover {
  color:#333;
}

.votes {
  display:inline-block;
  vertical-align:top;
  float:right;
}

.upvote {
  width: 0;
  height: 0;
  display:block;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #AAA transparent;
  transition: all ease 0.3s;
  margin-bottom:15px;
}

.upvote:hover {
  border-color: transparent transparent #333 transparent;
}

.upvote.selected {
  border-color: transparent transparent #ea9000 transparent;
  -webkit-animation-name: pulse;
          animation-name: pulse;
}

.downvote {
  width: 0;
  height: 0;
  display:block;
  border-style: solid;
  border-width: 15px 15px 0 15px;
  border-color: #AAA transparent transparent transparent;
  transition: all ease 0.3s;
}

.downvote:hover {
  border-color: #333 transparent transparent transparent;
}

.downvote.selected {
  border-color: #080069 transparent transparent transparent;
  -webkit-animation-name: pulse;
          animation-name: pulse;
}

@media all and (max-width: 600px) {
  .ListItem:hover {
    transform: translate(0, 0);
  }
}


/* LibraryView */

.LibraryView {
  height:0;
  overflow:hidden;
}


/* ActionButton */

.ActionButton {
  position:fixed;
  bottom: 20px;
  right: 20px;
  width:90px;
  height:90px;
  border-radius:45px;
  background-color:#dd191d;
  color:#FFF;
  text-decoration:none;
  text-align:center;
  line-height:50px;
  font-size: 50px;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
  transition: width ease 0.2s;
  overflow:hidden;
  z-index:9000;
  /*-webkit-transform: translateZ(0);*/
}

.ActionButton .button {
  display:block;
  position:absolute;
  z-index:2;
  top:0;
  right:0;
  width:50px;
  height:50px;
  padding:20px;
  text-decoration:none;
  text-align:center;
  line-height:50px;
  font-size: 40px;
  border-radius:45px;
  background-color:#dd191d;
  transition: transform ease 0.5s, color ease 0.2s, background-color ease 0.2s;
}

.ActionButton .button:hover, .ActionButton:hover {
  background-color:#FFF;
  color:#dd191d;
}

.ActionButton:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.ActionButton .fa-minus {
  display:none;
}

.ActionButton .player {
  z-index:1;
  width: 360px;
  position:absolute;
  top:0;
  left:20px;
  height: 50px;
  padding:20px;
  text-align:left;
  font-size:0;
}

.ActionButton .player img {
  height:100%;
  width:auto;
  display:inline-block;
  vertical-align:top;
}

.ActionButton .info {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  height: 50px;
  margin-left:20px;
}

.ActionButton .player h2 {
  font-size: 14px;
  line-height: 14px;
  font-weight:bold;
  margin: 5px 0;
}

.ActionButton .player h3 {
  font-size: 14px;
  font-weight:normal;
  line-height: 14px;
  margin: 5px 0;
}

@media all and (min-width: 701px) {
  .ActionButton.open .fa-minus {
    display:inline-block;
  }

  .ActionButton.open .fa-play {
    display:none;
  }


  .ActionButton.open {
    width:520px;
    border-radius: 45px;
    background-color:#dd191d;
    color:#FFF;
  }

  .ActionButton.open .button {
    transform: rotate(180deg);
  }

  .ActionButton.open .button:hover {
    color:#dd191d;
    background-color:#FFF;
  }
}

@media all and (max-width: 700px) {
  .ActionButton {
    width:auto;
    left:0;
    right:0;
    bottom:0;
    border-radius: 0;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
  }
  .ActionButton:hover {
    background-color:#dd191d;
    color:#FFF;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
  }
  .ActionButton .button {
    display:none;
  }
  .ActionButton .player {
    left:0;
  }
}


/* Animations */
.animated {
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
            transform: scale3d(1.2, 1.2, 1.2);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
            transform: scale3d(1.2, 1.2, 1.2);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes tint-pulse {
  0% {

  }

  50% {
    background-color: #ffab00;
  }

  100% {

  }
}

@keyframes tint-pulse {
  0% {

  }

  50% {
    background-color: #ffab00;
  }

  100% {

  }
}

@-webkit-keyframes tint-pulse-r {
  0% {

  }

  50% {
    background-color: #dd191d;
  }

  100% {

  }
}

@keyframes tint-pulse-r {
  0% {

  }

  50% {
    background-color: #dd191d;
  }

  100% {

  }
}


@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

/* Animation keyframes */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}